#!/usr/bin/make -f
# debian/rules for the dpkg suite.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>

include /usr/share/quilt/quilt.make

WFLAGS := -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers

CFLAGS = -g $(WFLAGS)
CXXFLAGS = -g $(WFLAGS)

# Disable optimisations if ‘noopt’ found in $DEB_BUILD_OPTIONS
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
	CXXFLAGS += -O0
else
	CFLAGS += -O2
	CXXFLAGS += -O2
endif
# Enable parallel builds
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif
# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build=$(DEB_HOST_GNU_TYPE)
else
	confflags += --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
endif

# Don't enable everything on all platforms
DEB_HOST_ARCH_OS  ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
  confflags += --with-bz2=static
  ifeq ($(DEB_HOST_ARCH_OS),linux)
    confflags += --with-selinux=static
  endif
else
  confflags += --without-dselect
  confflags += --without-selinux
  confflags += --without-bz2
endif



# Create configure script if necessary, automake handles rebuilding it.
configure: patch
	dh_testdir

	autoreconf -v -i

# Configure the build tree
build-tree/config.status: configure
	dh_testdir

	install -d build-tree
	cd build-tree && ../configure $(confflags) \
		CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" \
		--prefix=/usr \
		--mandir=\$${datadir}/man \
		--infodir=\$${datadir}/info \
		--sysconfdir=/etc \
		--localstatedir=/var/lib \
		--with-zlib=static

# Build the package in build-tree
build: build-tree/config.status
	dh_testdir

	cd build-tree && $(MAKE)

# Run the test suites
check: build
	dh_testdir

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	cd build-tree && $(MAKE) check
endif

control:
	dh_testdir
ifneq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	cp -f debian/in/* debian
endif

# Install the package underneath debian/tmp
install: check
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cd build-tree && $(MAKE) DESTDIR="$(CURDIR)/debian/tmp" install

ifneq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	rm $(CURDIR)/debian/tmp/etc/alternatives/README
	rm $(CURDIR)/debian/tmp/etc/dpkg/origins/debian
endif

# Put together the dpkg and dselect packages
binary-arch: control install
	dh_testdir -a
	dh_testroot -a

	dh_install --sourcedir=debian/tmp -a
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	dh_installlogrotate -a
endif

ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	install -d debian/dpkg/sbin
	mv debian/tmp/usr/sbin/start-stop-daemon debian/dpkg/sbin
else
	install -d debian/start-stop-daemon/sbin
	mv debian/tmp/usr/sbin/start-stop-daemon debian/start-stop-daemon/sbin
endif

ifeq (,$(findstring target, $(DEB_BUILD_OPTIONS)))
ifneq (,$(findstring nodocs,$(DEB_BUILD_OPTIONS)))
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
endif
endif

ifeq (,$(findstring target, $(DEB_BUILD_OPTIONS)))
	install -d debian/dpkg/usr/share/lintian/overrides
	install -m 644 debian/dpkg.lintian-overrides \
		       debian/dpkg/usr/share/lintian/overrides/dpkg
	install -d debian/dselect/usr/share/lintian/overrides
	install -m 644 debian/dselect.lintian-overrides \
		       debian/dselect/usr/share/lintian/overrides/dselect
endif

ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -a
endif
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

# Put together the dpkg-dev package
binary-indep: control install
	dh_testdir -i
	dh_testroot -i
	dh_install --sourcedir=debian/tmp -i -XDpkg/Gettext.pm

ifeq (,$(findstring target, $(DEB_BUILD_OPTIONS)))
ifneq (,$(findstring nodocs,$(DEB_BUILD_OPTIONS)))
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
endif
endif

	install -d debian/dpkg-dev/usr/share/lintian/overrides
	install -m 644 debian/dpkg-dev.lintian-overrides \
		       debian/dpkg-dev/usr/share/lintian/overrides/dpkg-dev

ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -i
endif
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-arch binary-indep


# Clean up the mess we made
clean: clean-tree unpatch

clean-tree:
	dh_testdir

	rm -rf build-tree
	dh_clean


.PHONY: build check control install binary-arch binary-indep binary clean
